table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    font-weight: bold;
    color: brown;
}

td {
    background-image: url(images/cube.jpg);
    background-size: 100% 100%;
    width: 75px;
    height: 75px;
}